<!DOCTYPE html>
<html lang="zh">

<%- partial('_partial/head') %>

<body ontouchstart="">

<%- partial('_partial/nav', {cache: true}) %>

<%- partial('_partial/header', {cache: true}) %>

<%- body %>

<%- partial('_partial/footer') %>

</body>

</html>
