---
layout: layout
---

<!-- Post  -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-md-9 post-container">
                <%- page.content %>
                <div class="pagination">
                    <% if (page.prev){ %>
                    <a class="prev-post" href="<%- url_for(page.prev.path) %>" title="<%- page.prev.title %>">
                        <%- page.prev.title %>
                    </a>
                    <% } %>
                    <% if (page.next){ %>
                    <a class="next-post" href="<%- url_for(page.next.path) %>" title="<%- page.next.title %>">
                        <%- page.next.title %>
                    </a>
                    <% } %>
                </div>
            </div>
            <%- partial('_partial/post-content') %>
        </div>
    </div>
</article>

<% if(config['anchorjs']) { %>
<%- partial('_partial/anchor') %>
<% } %>
