<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <div class="copyright text-muted">
                    &copy; <%= config.author %> <%= new Date().getFullYear() %>
                    |
                    <small>Power By <a href="https://hexo.io" target="_blank">Hexo</a></small>
                    |
                    <small>Theme By <a href="https://github.com/zeev-kell/hexo-theme-flyer" target="_blank">Flyer</a></small>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <%- partial('_partial/link') %>
            </div>
        </div>
    </div>
</footer>

<%- js(['js/jquery.min.js','js/common.min.js']) %>
<%- partial('_partial/analysis') %>

